section#container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 16px;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

p.dorm-ratings {
  color: #878787;
  margin-bottom: 8px;
}

img.dorm-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 32px;
}

.host-container {
  position: relative;
  height: 140px;
}

.host-container img {
  float: left;
  width: 108px;
  margin-right: 8px;
}

.host-container h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.host-container p {
  width: 500px;
  font-size: 18px;
}

.host-container .buttons-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.host-container hr {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin-bottom: 16px;
}

button {
  display: block;
  background-color: #253257;
  color: white;
  padding: 12px 16px;
  border: none;
  box-shadow: 0px 0px 4px #00000029;
  font-size: 18px;
  width: 140px;
  margin-bottom: 16px;
}

button:hover {
  cursor: pointer;
}

.about-container {
  float: left;
  margin-left: 32px;
}

.about-container h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.about-container p {
  position: relative;
}

.about-container p ul {
  position: absolute;
  left: 70px;
  top: 0px;
}

.ratings-container {
  float: right;
  margin-right: 32px;
}

.ratings-container h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.ratings-container h3 {
  font-weight: normal;
}

.ratings-container img {
  width: 30px;
}

.figure-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.top {
  background-color: #c2efb3;
  left: -200px;
  top: 0px;
  height: 400px;
  width: 400px;
}

.bottom {
  background-color: #c2efb3;
  right: -100px;
  top: 400px;
  height: 300px;
  width: 300px;
}

.bottom.blue {
  background-color: #09525699;
  right: -100px;
  top: 300px;
  height: 200px;
  width: 200px;
  border-radius: 250px;
}

#popupBackground {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #09525699;
}

#popupDiv {
  height: 60%;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  background-color: white;
  border: solid 1px black;
}
#closePopup {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
#closePopup:hover {
  opacity: 1;
}
#closePopup:before,
#closePopup:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
#closePopup:before {
  transform: rotate(45deg);
}
#closePopup:after {
  transform: rotate(-45deg);
}
#popupContent {
  margin-left: 20px;
  margin-top: 20px;
}
#popupContent h3 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 15px;
}
.pop-up-data {
  line-height: 50px;
  font-size: 22px;
}
.pop-up-data b {
  margin-right: 20px;
  font-weight: 450;
}
.row-of-stars {
  line-height: 10px;
}
.row-of-stars img:hover {
  filter: brightness(80%);
}
#popup-button {
  position: absolute;
  right: 25px;
  bottom: 30px;
}
.feedback-on-send {
  margin-top: 200px;
  text-align: center;
}
