section#hybler {
  width: 100%;
}

a {
  text-decoration: none;
}

.figure-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.top-text-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 730px) {
  .top-text-container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

p#top-text {
  color: #333;
}

.dorm-container {
  position: relative;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.text-content-container {
  margin-left: 358px;
  height: 100%;
  position: relative;
}

.text-content-container {
  padding-left: 10px;
}

img.dorm-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 250px;
  object-fit: cover;
}

p.dorm-ratings {
  position: absolute;
  bottom: 0px;
  color: #878787;
  font-size: 14px;
}

button {
  position: absolute;
  bottom: -16px;
  left: -16px;
  box-shadow: 0 0px 6px 0px rgb(180, 180, 180);
}

@media only screen and (max-width: 700px) {
  .circle.bottom.blue {
    display: none;
  }

  button {
    position: relative;
    margin-left: 16px;
  }

  .dorm-container {
    height: 100%;
    width: 350px;
  }

  .dorm-ratings {
    right: 0px;
  }

  .text-content-container {
    display: block;
    width: 350px;
    margin: 0 auto;
  }

  img.dorm-image {
    position: relative;
    display: block;
    margin: 0 auto;
  }
}

h2 {
  font-weight: normal;
  font-size: 20px;
  color: #333;
}

h3 {
  font-weight: normal;
  color: #878787;
  font-size: 14px;
}

.event-list-container {
  color: #333;
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  margin: 0px;
  margin-left: 4px;
  margin-top: 5px;
  padding: 0px;
}

li {
  margin-left: 16px;
}

.circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.top {
  background-color: #c2efb3;
  left: -200px;
  top: 0px;
  height: 400px;
  width: 400px;
}

.bottom {
  background-color: #c2efb3;
  right: -100px;
  top: 400px;
  height: 300px;
  width: 300px;
}

.bottom.blue {
  background-color: #1eb4b473;
  right: -100px;
  top: 300px;
  height: 200px;
  width: 200px;
  border-radius: 250px;
}
