section {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
section h1 {
    letter-spacing: 3px;
    font-size: 60px;
    line-height: 100px;
    font-weight: normal;
}
#slideshow {
    width: 100%;
    height: 400px;
    background-color: rgb(141 199 194);
}
article {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    justify-content: space-around;
    display: flex;
    margin-top: 80px;
}
.content {
    padding: 0px 10px;
    align-items: center;
    width: 45%;
    word-wrap: normal;
}
article p {
    margin-top: 20px;
    width: 100%;
    line-height: 24px;
}
article img {
    width: 45%;
    height: auto;
}
.imgSmallscreen {
    display: none;
}
h2 {
    font-size: 45px;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: 0.5px;
}

footer {
    margin-top: 200px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: gray;
}
@media only screen and (max-width: 850px) {
    @media only screen and (max-width: 850px) {
        section {
            width: 100%;
            margin-left: 0%;
            margin-right: 0%;
        }
        article {
            width: 100%;
            margin-left: 0%;
            margin-right: 0%;
            display: block;
        }
        .content {
            width: 100%;
            padding: 0px;
        }
        .content p,
        h2 {
            margin: 2.5%;
        }
        .cirkle {
            display: none;
        }
        .imgBigscreen {
            display: none;
        }
        .imgSmallscreen {
            display: block;
            width: 100%;
            margin-top: 50px;
        }
        footer {
            margin-top: 50px;
        }
    }
}
