#Kontakt_oss{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding-left: 40%;
    line-height: 100px;
    
}
div h1 {
    font-weight: 400;
    font-size: 50px;
    color: rgb(97, 189, 189);
}
input { 
    display: block;
    line-height: 50px;
    width: 300px;
    margin-bottom: 20px;
    border-radius:5px;
    border-width: 1.5px;
    font-size: 20px;
    background-color: rgba(158, 219, 221, 0.5);

    
    

}
#map {
    height: 300px;
    width: 300px;
    margin-top: 0;
    margin-left: 10%;
    margin-bottom: 0;
}
/* .realfagsbygget_map 
    position: fixed; 
    max-width: 100%;
    height: auto;
    width: 15px;
    margin-left: 15%;
    margin-top: 30%;
}{ */
#Besøk_oss {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
}
#Besøk_oss h2 {
    color: rgb(97, 189, 189);

}
#adresse p{
    padding-top: 10px;
}

footer {
    margin-top: 200px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: gray;
}