.Kontakt oss{
    position: absolute;
    margin-left: 40%;
    

}
input {
    display: block;
    float: left;
    width: 150px;
    margin-left: 40%;
}

#realfagsbygget_map {
    position: fixed;
    max-width: 100%;
    height: auto;
    width: 200px;
    margin-left: 15%;
    margin-top: 30%;
}
.Besøk oss {
    position: fixed;
    max-width: 100%;
    height: auto;
    margin-left: 30%;
    margin-top: 30%;
}



footer {
    margin-top: 200px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: gray;
}