.Kontakt_oss{
    position: absolute;
    margin-left: 60%;
    width: 200px;
    line-height: 100px;
    


}
input { 
    display: block;
    line-height: 25px;
    width: 200px;
    

}
#map {
    height: 200px;
    width: 200px;
    margin-top: 50%;
    margin-left: 10%;
    margin-bottom: 10%;
}
/* .realfagsbygget_map { */
    position: fixed; 
    max-width: 100%;
    height: auto;
    width: 15px;
    margin-left: 15%;
    margin-top: 30%;
}
.Besøk_oss {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-left: 70%;
    margin-top: 50%;
}

footer {
    margin-top: 200px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: gray;
}