nav {
  height: 64px;
  background-color: rgb(141 199 194);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0px 6px 0px rgb(180, 180, 180);
}
nav div {
  display: flex;
  align-items: center;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 24px;
}
nav img {
  width: 40px;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
nav li {
  list-style: none;
}
nav a {
  color: #ebebeb;
  text-decoration: none;
  font-size: 24px;
  font-weight: 250;
  letter-spacing: normal;
  cursor: pointer;
}

nav a.selected {
  color: white;
}

nav li :hover {
  color: white;
}

@media (min-width: 850px) and (max-width: 1024px) {
  /* Endre stil i forhold til bredde*/
  nav ul {
    width: 50%;
  }
}
@media only screen and (max-width: 850px) {
  /* Endre stil i forhold til bredde*/
  nav ul {
    width: 100%;
  }
  nav div {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  nav a {
    font-size: 20px;
  }
}
